.blog {
    padding-top: 147px;
    padding-bottom: 147px;
}

.blog__container {
    padding: 0 200px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 645px));
    grid-template-rows: repeat(6, 195px);
    column-gap: 143px;
    row-gap: 50px;
    margin-bottom: 100px;

    grid-auto-flow: column;
}

.article__link {
    display: grid;
    grid-auto-flow: column;
    color: #8F8F8F;
}

.article__image {
    width: 195px;
    height: 195px;
}

.article__image img {
    width: 100%;
    height: 100%
}

.article__block {
    display: grid;
    grid-template-columns: minmax(150px, 420px);
    grid-template-rows: min-content;
    margin-left: 30px;
}

.article__subtitle {
    max-width: 420px;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #2D2D2D;
    max-height: 125px;
    overflow: hidden;
    margin-bottom: 13px;
}

.article__subblock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article__views-comments {
    display: flex;
    align-items: center;
    gap: 25px;
}

.article__text-block {
    display: flex;
    align-items: center;
    gap: 4px;
}

.article__icon {
    width: 24px;
    height: 24px;
    fill: transparent;
}

.blog__pagination {
    max-width: 254px;
    height: 37px;
    max-height: 37px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.article__date,
.article__time,
.article__views-comments {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.pagination__left-arrow,
.pagination__right-arrow {
    width: 37px;
    height: 37px;
}

.pagination__left-arrow,
.pagination__right-arrow{
    fill: #8F8F8F;
}

.pagination__arrow-not-active {
    fill: #8F8F8F;
}

.pagination__arrow-active {
    fill: #3670C7;
}

.pagination__list{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    color:  #2D2D2D;
}

.pagination__item{
    width: 36px;
    height: 36px;
    border: 2px solid #2D2D2D;
    border-radius: 4px;
    display: grid;
    justify-content: stretch;
    align-content: stretch;
}

.pagination__item-active {
    border-color: #3670C7;
    color: #3670C7;
}

.pagination__link{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1756px) {
    .blog__list {
        grid-template-rows: repeat(12, 195px);

        justify-content: center;
    }
}

@media (max-width: 1131px) {
    .blog {
        padding-top: 72px;
        padding-bottom: 47px;
    }

    .blog__container {
        padding: 0 120px;
    }

}

@media (max-width: 886px) {
    .blog {
        padding-top: 35px;
        padding-bottom: 25px;
    }

    .blog__container {
        padding: 0 60px;
    }

}

@media (max-width: 768px) {
    .blog {
        padding-top: 35px;
        padding-bottom: 25px;
    }

    .blog__container {
        padding: 0 30px;
    }

    .blog__list {
        grid-template-rows: repeat(12, 100px);
    }

    .article__link {
        justify-content: center;
    }

    .article__image {
        width: 100px;
        height: 100px;
    }

    .article__subtitle {
        font-size: 12px;
        max-width: 280px;
        margin-bottom: 7px;
    }

    .article__block {
        margin-left: 15px;
    }

    .article__date,
    .article__time,
    .article__views-comments {
        font-size: 12px;
    }
}

@media (max-width: 460px) {
    .blog {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .blog__container {
        padding: 0 10px;
    }

    .article__subtitle {
        font-size: 12px;
    }

    .article__block {
        margin-left: 10px;
    }

    .article__date,
    .article__time,
    .article__views-comments {
        font-size: 8px;
    }
}

@media (max-width: 410px) {
    .blog__list {
        grid-template-columns: repeat(auto-fill, minmax(280px, 645px));
        row-gap: 15px;
    }

    .article__block {
        min-width: 190px;
    }

    .article__subtitle {
        max-width: 190px;
        margin-bottom: 0;
    }
}


