.footer {
    padding-top: 25px;
    padding-bottom: 21px;
    border-top: 1px solid #E6E6E6;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__logo-block {
    display: flex;
    align-self: center;
    max-width: fit-content;
    gap: 6.27px;
    height: 40px;
    grid-area: logo;
    padding-bottom: 9px;
}

.footer__container {
    display: flex;
    align-items: end;
}

.footer__social {
    display: flex;
    gap: 15px;
    padding-bottom: 13px;
}

.footer__copyright {
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: #212121;
}

@media (max-width: 590px) {
    .footer {
        padding-top: 6px;
        padding-bottom: 10px;
    }

    .footer__copyright{
        display: none;
    }
}
