.preload__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 386px;
    animation: rotate 5s infinite linear;
    -webkit-animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-360deg);
    }
}